body {
  text-align: center;
  background-color:pink;
}

h1 {
  font-size: 5rem;
  color:lightblue;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color:green;
  font-family: sans-serif;
}


